## Import Data and Libraries

In [3]:
# Import libraries
import pandas as pd

In [14]:
# Import data
path = "Data/UTF_Data4.csv"
df = pd.read_csv(path, sep=';')
df.head(3)

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,-,301,0,283,279,43,...,"6,72","6,91","5,23","5,41","5,15","7,64","6,14","5,71","5,97","4,94"
1,Axfood Snabbgross AB,5560003575,201912,SEK,-,411,401,384,365,335,...,"8,44","12,06","12,1","15,42","15,66","11,61","10,54","12,19","13,16","15,34"
2,LWW Group AB,5565295333,201912,SEK,-,347,361,337,332,340,...,"1,91","1,77","1,77","1,1","0,87","1,12","1,05","1,02","0,29","0,33"

## Data Cleansing

### Get overview

In [13]:
# Get overview
df.describe(include="all")

,Company name,Org. no,Closure year,Currency,"Num. of employees, stock company (pcs)",EBITDA (k),Working capital (k),Distributable earnings (k),Turnover change (%),Changes in staff (%),Return on equity (%),Return on total assets (%),Liability interest (%),Risk buffer total assets (k),Return on Captial Employed (RoCE) (%)
count,2513,2.513000e+03,2513.000000,2513,2513.000000,2513,2513,2513,2513,2513,2513,2513,2513,2513,2513
unique,2513,NaN,NaN,5,NaN,2452,2487,2483,1723,1246,1792,1283,626,735,2190
top,Multibygg Sydost AB,NaN,NaN,SEK,NaN,0,0,0,0,0,0,0,0,0,-
freq,1,NaN,NaN,1588,NaN,26,8,10,374,895,35,23,206,726,35
mean,NaN,3.602493e+09,201907.020294,NaN,181.009152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.577750e+09,45.839854,NaN,90.289650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000812e+07,200712.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,7.045182e+07,201912.000000,NaN,108.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.561632e+09,201912.000000,NaN,155.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,5.565654e+09,201912.000000,NaN,204.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,5.592205e+09,202006.000000,NaN,499.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove missing values
1. List/plot the number of missing values for each column
2. Remove columns with many missing values
3. Then remove all rows with missing values

When done, use .describe() again and see the changes

### Remove outliers 
Use winzorization:

df = winDf.clip(df.quantile(0.05), df.quantile(0.95), axis=1)

### One-hot encode the columns with text or categorical values
Probably not necessary for our case

### If needed, calculate predictor column

# Modeling