In [1]:
# Import libraries
import pandas as pd

In [25]:
# Import data
path = "../Data/UTF_Data3.csv"
df = pd.read_csv(path, sep=';')
df.head(5)

,Company name,Org. no,Closure year,Currency,"Num. of employees, stock company (pcs)",EBITDA (k),Working capital (k),Distributable earnings (k),Turnover change (%),Changes in staff (%),Return on equity (%),Return on total assets (%),Liability interest (%),Risk buffer total assets (k),Return on Captial Employed (RoCE) (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,301,59 472,278 276,239 355,"-8,01",0,"-3,8","1,7","2,6","-0,8","3,43"
1,Byr AB,5569479115,201912,SEK,176,376 481,867 989,809 591,"18,21","39,68","39,7","13,8","2,2","11,7","37,4"
2,Axfood Snabbgross AB,5560003575,201912,SEK,411,170 195,-36 068,7 112,"6,22","2,49","465,4","48,1","0,4","47,8","1 700,96"
3,ELON Group Holding AB (publ),5567225221,201912,SEK,146,44 918,24 435,224 302,"1,82","-2,67","4,9","1,4","0,5",1,"3,89"
4,LWW Group AB,5565295333,201912,SEK,347,22 647,297 592,239 810,"-7,27","-3,88","-3,4","-0,1","1,7","-1,8","-0,08"

In [29]:
def removeRareColumns(df, threshold=0.91):
    dfLength = len(df)
    for column in df:
        count = df[column].count()
        percent = count / dfLength

        if percent < threshold:
            print(column)
            df = df.drop(column, axis=1)
        else:
            pass
    return df

print("Columns before: ", len(df.columns))
df = removeRareColumns(df)
print("Columns after: ", len(df.columns))

# Remove NaNs
print("Rows before: ", len(df))
df = df.dropna()
print("Rows after: ", len(df))
df.head()

Columns before:  15
Columns after:  15
Rows before:  2513
Rows after:  2513

,Company name,Org. no,Closure year,Currency,"Num. of employees, stock company (pcs)",EBITDA (k),Working capital (k),Distributable earnings (k),Turnover change (%),Changes in staff (%),Return on equity (%),Return on total assets (%),Liability interest (%),Risk buffer total assets (k),Return on Captial Employed (RoCE) (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,301,59 472,278 276,239 355,"-8,01",0,"-3,8","1,7","2,6","-0,8","3,43"
1,Byr AB,5569479115,201912,SEK,176,376 481,867 989,809 591,"18,21","39,68","39,7","13,8","2,2","11,7","37,4"
2,Axfood Snabbgross AB,5560003575,201912,SEK,411,170 195,-36 068,7 112,"6,22","2,49","465,4","48,1","0,4","47,8","1 700,96"
3,ELON Group Holding AB (publ),5567225221,201912,SEK,146,44 918,24 435,224 302,"1,82","-2,67","4,9","1,4","0,5",1,"3,89"
4,LWW Group AB,5565295333,201912,SEK,347,22 647,297 592,239 810,"-7,27","-3,88","-3,4","-0,1","1,7","-1,8","-0,08"

In [41]:
df.Currency

<bound method NDFrame.describe of 0       SEK
1       SEK
2       SEK
3       SEK
4       SEK
       ...
2508    USD
2509    NOK
2510    EUR
2511    NOK
2512    NOK
Name: Currency, Length: 2513, dtype: object>

In [50]:
df[df.Currency != "SEK"]

,Company name,Org. no,Closure year,Currency,"Num. of employees, stock company (pcs)",EBITDA (k),Working capital (k),Distributable earnings (k),Turnover change (%),Changes in staff (%),Return on equity (%),Return on total assets (%),Liability interest (%),Risk buffer total assets (k),Return on Captial Employed (RoCE) (%)
5,Global Business Travel ApS,73489628,201912,DKK,100,8 394,34 060,35 151,"14,35",0,"8,7","5,19","0,53",0,"11,33"
8,SINKABERG INVEST AS,988947857,201912,NOK,242,490 539,1 352 251,700 068,1,"6,14","26,53","18,36","71,43","17,86","25,1"
14,LEGULA AS,953745321,201912,NOK,299,164 434,419 148,136 126,"-0,87",0,"10,64","10,98","38,99","7,93","12,6"
32,KUEHNE + NAGEL A/S,39604418,201912,DKK,200,83 862,18 449,35 131,"1,14",0,"35,26","9,77","3,44",0,"42,54"
37,NORSKOTT HAVBRUK AS,983622631,201912,NOK,455,382 815,438 961,213 688,"-12,42","0,66","13,71","11,74","45,4","10,34","14,27"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508,AKER ENERGY AS,920243754,201912,USD,152,-123 090,-113 559,-261 756,0,0,"-166,48","-39,8","18,66","-43,39","-213,27"
2509,ONEPARK AS,998638984,201912,NOK,202,25 969,22 922,49 678,0,0,"55,54","18,79","33,74","18,75","55,68"
2510,SAIPEM DRILLING NORWAY AS,998277418,201912,EUR,224,12 335,-323 038,-34 108,0,"17,89","-78,04","-1,39","5,15","-4,58","-26,92"
2511,TUSENFRYD AS,991474447,201912,NOK,134,54 762,-29 950,29 046,0,0,"6,97","9,39","13,14","5,58","61,26"
2512,NSB TRAFIKKSERVICE AS,983581048,201912,NOK,272,58,86 563,-221,0,"3,42","-0,24","0,03","5,4","-0,1","0,58"

In [47]:
df["Closure year"].unique()

array([201912, 201906, 201909, 201904, 201812, 201903, 202003, 201908,
       201905, 202004, 202001, 201910, 201612, 202005, 201907, 201808,
       201412, 201901, 201804, 202002, 201706, 201512, 201809, 202006,
       201212, 201712, 201312, 201902, 201911, 200712, 201603, 201810,
       201806])